
@{
    ViewBag.Title = "BankAndAccountInformation";
    Layout = "~/Views/Shared/_LayoutBeforeLogin.cshtml";
}

<style>
    .ustbosluk {
        margin-top: 100px;
    }

    p b {
        font-size: 15px;
    }
</style>



<div class="ustbosluk" id="third-block">
    <div class="line">
        <h2>Banka ve Hesap Bilgileri</h2>

        <p class="subtitile">



        </p>
    </div>
</div>
