
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutBeforeLogin.cshtml";
}

<style>
    .ustbosluk {
        margin-top: 100px;
    }

    p b {
        font-size: 15px;
    }
</style>

<div class="ustbosluk" id="third-block">
    <div class="line">
        <h2>İLETİŞİM</h2>

        <p class="subtitile">
            <b>  Tüm Soru Öneri ve şikayetlerinizi bizlere aşağıdaki iletişim adreslerimizden iletebilirsiniz. </b> <br />
            <b>
                E-mail  : admin@canlisohbetevi.com <br />
                Sohbet Odalarımız'da Haftanın 7 günü 24 saat Boyunca aralıksız bir şekilde hizmet verilmektedir.
                Hatırlatmalar:
                canlisohbetevi.com 'a katılmak için 18 yaşını doldurmuş ve (yetişkin) bir birey olmanız gerekir.
                Anlık bilgi almak ve şikayet etmek için canlı destek butonuna tıklayabilirsiniz.
                Küfür, Argo, Siyaset muhabbet yapmak ve cep telefonu dağıtmak yasaktır. Bu konuda ısrarcı olmanız durumunda Siteden uzaklaştırma cezası alırsınız
            </b>



        </p>

    </div>
</div>
