
@{
    ViewBag.Title = "PayPage";
    Layout = "~/Views/Shared/_LayoutBeforeLogin.cshtml";
}

<style>
    .ustbosluk {
        margin-top: 100px;
    }

    p b {
        font-size: 15px;
    }
    .pccs{
        margin:10px;
        padding:10px;
    }

</style>

<div class="ustbosluk" id="third-block">
    <div class="line">
        <h2>KREDİ PAKETLERİ</h2>

        <div class="col-md-12 row">

            <div class="card col-md-3 pccs" style="width: 18rem;">
                <img class="card-img-top" src="~/Assets/Custom/Images/Logos/logo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><b>100 Kredi</b></h5>
                    <p class="card-text"><b>50 TL</b></p>
                    <a href="#" class="btn btn-purple white">Ödeme Yap</a>
                </div>
            </div>

            <div class="card col-md-3 pccs" style="width: 18rem;">
                <img class="card-img-top" src="~/Assets/Custom/Images/Logos/logo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><b>250 Kredi</b></h5>
                    <p class="card-text"><b>110 TL</b></p>
                    <a href="#" class="btn btn-purple white">Ödeme Yap</a>
                </div>
            </div>

            <div class="card col-md-3 pccs" style="width: 18rem;">
                <img class="card-img-top" src="~/Assets/Custom/Images/Logos/logo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><b>500 Kredi</b></h5>
                    <p class="card-text"><b>220 TL</b></p>
                    <a href="#" class="btn btn-purple white">Ödeme Yap</a>
                </div>
            </div>

            <div class="card col-md-3 pccs" style="width: 18rem;">
                <img class="card-img-top" src="~/Assets/Custom/Images/Logos/logo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><b>1000 Kredi</b></h5>
                    <p class="card-text"><b>400 TL</b></p>
                    <a href="#" class="btn btn-purple white">Ödeme Yap</a>
                </div>
            </div>
            <div class="card col-md-3 pccs" style="width: 18rem;">
                <img class="card-img-top" src="~/Assets/Custom/Images/Logos/logo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><b>5000 Kredi</b></h5>
                    <p class="card-text"><b>2000 TL</b></p>
                    <a href="#" class="btn btn-purple white">Ödeme Yap</a>
                </div>
            </div>

        </div>
      
    </div>
</div>

