
@{
    ViewBag.Title = "ProtectionOfPersonalData";
    Layout = "~/Views/Shared/_LayoutBeforeLogin.cshtml";
}

<style>
    .ustbosluk {
        margin-top: 100px;
    }

    p b {
        font-size: 15px;
    }
    h3 {
        font-weight: 600;
        text-align: initial;
    }
    h2 {
        font-weight: 600;
    }
    ul li{
        text-align:initial;
    }
</style>


<div class="ustbosluk" id="third-block">
    <div class="line">
        <h2>Kişisel Verilerin Korunması Bilgilendirme Metni</h2>
        SC Online Eleketronik Tic.Ltd.Şti ("Şirket") olarak kişisel verilerinizin güvenliği konusuna en üst seviyede özen göstermekteyiz. Bu bilinçle, Şirket olarak ürün ve hizmetlerimizden faydalanan kişiler dahil, Şirket ile ilişkili tüm gerçek kişilere ait her türlü kişisel verilerin 6698 sayılı Kişisel Verilerin Korunması Kanunu ("KVK Kanunu")'na uygun olarak işlenerek muhafaza edilmesine büyük önem göstermekteyiz. Bu sorumluluğumuzun farkında olarak, KVK Kanunu'nda tanımlı şekli ile "Veri Sorumlusu" sıfatıyla, kişisel verilerinizi aşağıda açıklandığı şekliyle ve mevzuat tarafından belirlenen sınırlar çerçevesinde işlemekteyiz.
        <p class="subtitile">

            <h3> 1. Kişisel Verilerin Toplanması, İşlenmesi ve İşleme Amaçları</h3>
            Kişisel verileriniz, Şirketimiz tarafından sağlanan hizmetlere bağlı olarak değişkenlik gösterebilmektedir. Verileriniz; otomatik ya da otomatik olmayan yöntemlerle, internet sitesi, sosyal medya, mobil uygulamalar ve benzeri vasıtalarla sözlü, yazılı ya da elektronik olarak toplanabilecektir. Şirketimiz sunduğu ürün ve hizmetlerden yararlandığınız sürece kişisel verileriniz işlenebilecektir.
            Ayrıca, Şirket hizmetlerini kullanmak amacıyla internet sayfamızı kullandığınızda, internet sitemizi ziyaret ettiğinizde, kişisel verileriniz işlenebilecektir.
            Toplanan kişisel verileriniz aşağıda belirtilen gerekçelerle, KVK Kanunu'nun 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları sınırlarında işlenecektir;
            <ul>
                <li>	Şirketimiz tarafından sunulan ürün ve hizmetlerden sizleri faydalandırmak için gerekli çalışmaların iş birimlerimiz tarafından yapılması,</li>
                <li>
                    Şirketimiz kullanım alışkanlıkları ve ihtiyaçlarına göre özelleştirilerek sizlere önerilmesi,
                </li>
                <li>
                    Şirketimizle, iş ilişkisi içerisinde olan kişilerin hukuki ve ticari güvenliğinin temini,
                </li>
                <li>
                    Şirketimiz tarafından yürütülen iletişime yönelik, Şirkete ait lokasyonların fiziksel güvenliğinin ve denetiminin sağlanması,
                </li>
                <li>
                    Şirketimiz ve müşteri değerlendirme/şikayet yönetimi süreçleri, itibar araştırma süreçleri,
                </li>
                <li>hukuki uyum süreci, denetim v.b. süreçlerinin yürütülmesi,</li>
                <li>
                    Şirketimizin ticari ve iş stratejilerinin belirlenmesi ve uygulanması,
                </li>
                <li>	Şirketimizin insan kaynakları politikalarının yürütülmesi.</li>
            </ul>

            <h3>  2. İşlenen Kişisel Verilerin Kimlere ve Hangi Amaçla Aktarılabileceği</h3>
            Toplanan kişisel verileriniz işbu metnin 1. Maddesine belirtilen gerekçelerle,  Şirket yetkililerine, KVK Kanunu'nun 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde aktarılabilecektir.
            <h3>  3. Kişisel Veri Toplamanın Yöntemi ve Hukuki Sebebi</h3>

            Kişisel verileriniz, her türlü sözlü, yazılı ya da elektronik ortamda, yukarıda yer verilen gerekçeler doğrultusunda Şirketimiz tarafından sunulan ürün ve hizmetlerin belirlenen yasal çerçevede sunulabilmesi ve bu kapsamda Şirketimizin sözleşme ve yasadan doğan yükümlülüklerini eksiksiz ve doğru bir şekilde ifa edilebilmesi için elde ile edilir. Bu hukuki sebeple toplanan kişisel verileriniz KVK Kanunu'nun 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları kapsamında bu metnin (1) ve (2) numaralı maddelerinde belirtilen gerekçelerle de işlenebilmekte ve aktarılabilmektedir.

            <h3>  4. Kişisel Veri Sahibinin KVK Kanunu'nun 11. maddesinde Sayılan Hakları</h3>
            Kişisel veri sahipleri olarak, haklarınıza ilişkin taleplerinizi, işbu Bilgilendirme Metni'nde aşağıda düzenlenen yöntemlerle Şirketimize iletmeniz durumunda Şirketimiz talebin niteliğine göre talebi en geç otuz gün içinde ücretsiz olarak sonuçlandıracaktır. Ancak, Kişisel Verileri Koruma Kurulunca bir ücret öngörülmesi halinde, Şirketimiz tarafından belirlenen tarifedeki ücret alınacaktır. Bu kapsamda kişisel veri sahipleri;
            <ul>

                <li>
                    Kişisel veri işlenip işlenmediğini öğrenme,
                </li>
                <li>
                    Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,
                </li>
                <li>
                    Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
                </li>
                <li>
                    Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,
                </li>
                <li>
                    Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
                </li>
                <li>
                    KVK Kanunu'nun ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
                </li>
                <li>
                    İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,
                </li>
                <li>	Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme haklarına sahiptir. </li>
            </ul>
            
            <h3> 5. Rıza Gerektirmeyen Haller</h3>
            6698 sayılı Kişisel Verilerin Korunması Kanunu'nun 5. Maddesinin 2. fıkrası uyarınca, aşağıda belirtilen durumlarda; Şirketin, kişinin açık rızası almaksızın kişisel verileri işleyebilme hakkı mevcuttur.
            <ul>
                <li>	Kanunlarda açıkça öngörülmesi, </li>
                <li>
                    Bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla, sözleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması,
                </li>
                <li>
                    Veri sorumlusu sıfatıyla Şirketin hukuki yükümlülüğünü yerine getirebilmesi için zorunlu olması,
                </li>
                <li>
                    İlgili kişi tarafından alenileştirilmiş olması,
                </li>
                <li>
                    Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin zorunlu olması,
                <li>	İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla veri sorumlusu olan Şirketin meşru menfaatleri için veri işlenmesinin zorunlu olması. </li>
            </ul>
        </p>
    </div>
</div>

