
@{
    ViewBag.Title = "ReturnAndExchangeConditions";
    Layout = "~/Views/Shared/_LayoutBeforeLogin.cshtml";
}

<style>
    .ustbosluk {
        margin-top: 100px;
    }

    p b {
        font-size: 15px;
    }
    h3 {
        font-weight: 600;
        text-align: initial;
    }
    h2 {
        font-weight: 600;
        
    }

    .sozTaraflari{
        text-align: initial;
    
    }
      

</style>



<div class="ustbosluk" id="third-block">
    <div class="line">
        <h2>İADE VE DEĞİŞİM KOŞULLARI</h2>

        <p class="subtitile">
            <h3>1.	SÖZLEŞMENİN TARAFLARI</h3>
        </p>
        <div class="sozTaraflari">
            Bir tarafta SATICI; <br />
            canlisohbetevi.com <br />
            Diğer tarafta, ALICI:<br />

        </div>

        <h3> 2. SÖZLEŞMENİN KONUSU </h3>
        <div class="sozTaraflari">
            İş bu sözleşmenin konusu, Alıcının Satıcıya ait web sitesinden elektronik ortamda sipariş verdiği, sözleşmede bahsi geçen ve web sitesindeki niteliklere haiz ve yine sözleşmede ve web sitesinde kendisine belirtilen satış fiyatı ile mal/hizmetin satışı ve teslimi ile ilgili olarak 4077 sayılı Tüketicilerin Korunması Hakkındaki Kanun ve Mesafeli Sözleşmelere Dair Yönetmelik hükümleri gereğince tarafların hak ve yükümlülüklerinin saptanmasıdır. Alıcı, satışa konu mal/hizmetlerin temel nitelikleri, satış fiyatı, ödeme şekli, teslimat koşulları vs. satışa konu mal/hizmet ile ilgili tüm ön bilgiler ve "cayma" hakkı konusunda bilgi sahibi olduğunu, bu ön bilgileri elektronik ortamda teyit ettiğini ve sonrasında mal/hizmeti sipariş verdiğini is bu sözleşme hükümlerince kabul ve beyan eder. Alıcıya gerek web sitesi ortamında kendisine, hatırlatılan, ayrıca sipariş sırasında kendisine gönderilen e-mail, sms ve kendisine herhangi bir şekilde elektronik ortamda ulaştırılan ön bilgilendirme formları iş bu sözleşmenin ayrılmaz parçalarıdır.
        </div>
        <h3>
            3. MAL/HİZMETİN TEMEL NİTELİKLERİ
        </h3>
        <div class="sozTaraflari">
            {Ürün Detay}
        </div>


        <h3>4. MAL/HİZMETİN PEŞİN TAKSİTLİ FİYATİ </h3>

        <div class="sozTaraflari">

            Mal Hizmet Bedeli Peşin : -- TL
            Fiyatlar, tüm vergiler dahil satış fiyatıdır.
            Kredi Kartı : Bankaların ve bazı finansman kuruluşlarının müşterilerine verdiği, anlaşmalı POS cihazı bulunan alışveriş noktalarında ödeme amaçlı veya banka ATM'lerinden nakit avans çekmek amaçlı kullanılabilen, yapılan harcamaların aylık olarak bankaya tek seferde ya da taksitlerle ödenmek zorunda olunduğu, nakit paraya alternatif bir ödeme aracıdır

        </div>
        <h3> 5. MAL/HİZMETİN TESLİMİ, SÖZLEŞMENİN İFA YERİ VE TESLİM ŞEKLİ </h3>
        <div class="sozTaraflari">


            Satın alınan mal, otomatik olarak,müşterinin işleme onay verdiği andan itibaren en geç 3 dakika içerisinde teslim edilecektir. Mücbir sebepler ve/veya teknik nedenlerden dolayı bu süre uzayabilir.

        </div>
        <h3> 6. CAYMA HAKKI </h3>
        <div class="sozTaraflari">

        Üyelik işlemi dışındaki satış işlemleri, niteliği itibarıyla elektronik ortamda anında ifa edilen ve tüketiciye anında teslim edilen gayri maddi mal niteliğinde olduğundan, cayma hakkı bulunmamaktadır.

        </div>
        <h3> 7. FESİH ŞARTLARI </h3>
        <div class="sozTaraflari">

        Sözleşmenin müşteri tarafından haklı nedenlerle usulüne uygun olarak yapılacak bildirim ile feshi halinde, sözleşme gereği ödenen bedeller, müşterinin mal/hizmet alımı nedeni ile almış olduğu her türlü hediyeler ve varsa başkaca kazanımlara ait bedelleri düşüldükten ve ayrıca üye olduğu için yararlandığı her türlü fiyat avantajları ile elde ettiği kazanımlar mahsup edildikten sonra müşteriye iade edilecektir. Sözleşmenin haksız nedenle feshi ve/veya sözleşmeye konu mal/hizmetin kullanılması ile tüketilmesi halinde herhangi bir iade söz konusu olmayacaktır.
        </div>

        <h3>  8. ŞİKAYET MERCİİ </h3>
        <div class="sozTaraflari">
            İş bu sözleşme konusu mal ve hizmetlere ilişkin şikâyet ve itirazlar konusunda yapılacak başvurular, Bakanlıkça her yıl Aralık ayında belirlenen parasal sınırlar dâhilinde, mal veya hizmeti satın aldığı veya müşterinin ikametgâhının bulunduğu yerdeki tüketici sorunları hakem heyetine veya tüketici mahkemesine yapılabilecektir.
        </div>
        <h3> 9. ELEKTRONİK İLETİ MUVAFAKAT </h3>
        <div class="sozTaraflari">
            Alıcı, işbu sözleşme tarafı SATICI'nın ve SATICI'nın grup şirketlerinin ve iş ortaklarının, her türlü reklam, tanıtım ve yapmış olduğu ve/veya ileride yapacağı her türlü kampanyalara ait bilgi elektronik iletilerinin, E-mail, SMS, IVR, telefon ve her türlü iletişim aracı ile yapılacak reklam ve bilgilendirmelerin kendisine ulaşmasını kabul beyan ve muvafakat etmektedir.
        </div>
    </div>
</div>

