
@{
    ViewBag.Title = "CancelUrl";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
    ViewData["Title"] = "Error";
}

<h1>İşlem gerçekleştirilemedi.</h1>

<p>@ViewBag.Error</p>


