
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>Sayın Session Id Hoşgeldiniz</h2>

<h3>
    <b>Kazanç Tarifeniz:</b>

</h3>
<h4>Kazancınız %40 üzerinden olacaktır.</h4>

<h3>
    <b>Önemli:</b>
</h3>

<ul>
    <li>Aynı Anda Hem canlisohbet.com da Hem Başka Sitelerde Yayın Açmak Yasaktır.</li>
    <li>Özel Odada Telefon, Skype vb Bilgiler Alınması veya Verilmesi Yasaktır.</li>
    <li> Tüm Sistem 7/24 Hem Manuel Hem Otobotlarla Sürekli Kontrol Edilmektedir.</li>
    <li>Modellik Kurallarını Okuyun ve Lütfen Kurallara Uyun.</li>
    <li>Kural İhlali Yapanlar 1 Kez Uyarılır. Tekerrürde Hesabı İptal Edilir.</li>
</ul>


