
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Employee/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>Hoşgeldiniz</h2>
<h3>

    <span style="color:red;">* Sistemin verimli kullanılabilmesi için, sistemden çıkış yaparken,sağ üstte bulunan profil fotoğrafınıza basarak çıkış yapmanızı rica ederiz.</span>

    <span style="color:red;">* Profil bilgilerinizi güncellemeniz görüşmelerinizi olumlu etkileyecektir.</span>
</h3>

<h3>
    <b>Kazanç Tarifeniz:</b>

</h3>
<h4>Kazancınız kısa bir süreliğine % 56 üzerinden olacaktır.</h4>

<h3>
    <b>Önemli:</b>

</h3>
<ul>
    <li>Aynı Anda Hem canlisohbetevi.com'da Hem Başka Sitelerde Yayın Açmak Yasaktır.</li>
    <li>Özel Odada Telefon, Skype vb Bilgiler Alınması veya Verilmesi Yasaktır.</li>
    <li> Tüm Sistem 7/24 Hem Manuel Hem Otobotlarla Sürekli Kontrol Edilmektedir.</li>
    <li>Modellik Kurallarını Okuyun ve Lütfen Kurallara Uyun.</li>
    <li>Kural İhlali Yapanlar 1 Kez Uyarılır. Tekerrürde Hesabı İptal Edilir.</li>
</ul>


