
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
}
<style>

    .alltali {
        color: red;
        margin-top: 10px;
    }
</style>




<h2>Sistem Kullanım Talimatları</h2>

<ul>
    <li class="alltali"> Kredi satın almak için kredi satın alma alanından bizimle iletişime geçebilirsiniz.</li>
    <li class="alltali"> Sistemden çıkış yapmak için sağ üst kısımdaki profil fotoğrafını kullanabilirsiniz.</li>
    <li class="alltali">Sistemin verimli çalışması açısından, sistemden ayrılırken çıkış yapmanızı rica ederiz. </li>
</ul>


